<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="description" content="Dapoer Nenek Group" />
    <meta name="theme-color" content="#2c3e50" />
    <link rel="apple-touch-icon" href="./icons/icon-192x192.png" />
    <link rel="icon" href="./icons/icon-192x192.png" />
    <link rel="manifest" href="manifest.json" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" crossorigin="anonymous" />
    <title>Dapoer Nenek Group</title>
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500" rel="stylesheet" type="text/css" />
  </head>
  <body>
    <a href="#mainContent" class="skip-link">Menuju ke konten</a>
    <header>
      <div class="header__inner">
        <h1 class="header__title">Dapoer Nenek Group</h1>
      </div>
      <div id="menu" class="header__menu">
        <button id="hamburgerButton">☰</button>
      </div>
      <nav id="navigationDrawer" class="nav">
        <ul class="nav__list">
          <li class="nav__item"><a href="#">Home</a></li>
          <li class="nav__item"><a href="#/favorite">Favorite</a></li>
          <li class="nav__item"><a href="https://www.linkedin.com/in/rachman-setiawan-amir/" target="_blank" rel="noreferrer">About Us</a></li>
        </ul>
      </nav>
    </header>
    <div class="hero">
      <div class="color-overlay">
        <div class="hero__inner">
          <h1 class="hero__title">When you’re here, you’re family</h1>
          <p class="hero__tagline">Hangatnya suasana makan rumahan dengan cita rasa bintang 5</p>
        </div>
      </div>
    </div>

    <main id="mainContent"></main>

    <footer>
      <p>Copyright &#169; 2021 - Dapoer Nenek Group</p>
    </footer>
  </body>
</html>
